<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.pc_padding_top }}px;
    padding-bottom: {{ section.settings.pc_padding_bottom }}px;
    background: {{ section.settings.spacer_bg }};
  }
  @media screen and (max-width: 768px ) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.sp_padding_top }}px;
      padding-bottom: {{ section.settings.sp_padding_bottom }}px;
    }
  }
</style>

<div class="section-{{ section.id }}-padding">
  <!-- ここにセクション本体を入れる -->
</div>

{% schema %}
  {
    "settings": [
      {
        "type": "color",
        "id": "spacer_bg",
        "label": "スペース部分の背景"
      },
      {
        "type": "range",
        "id": "pc_padding_top",
        "label": "PC：上スペース",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "pc_padding_bottom",
        "label": "PC下：スペース",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 60,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sp_padding_top",
        "label": "モバイル：上スペース",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 30,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "sp_padding_bottom",
        "label": "モバイル下：スペース",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 30,
        "unit": "px"
      }
    ]
  }
{% endschema %}